<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aaryam123.everyday_challenge_final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ultimate_Activity"
            android:label="@string/title_activity_ultimate_" />
        <activity
            android:name=".Progress_Activity"
            android:label="@string/title_activity_progress_" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ChallengeLevel1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_challenge_level1"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".challengelevel2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_challengelevel2"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".challengelevel3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_challengelevel3"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".challengelevel5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_challengelevel5"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".challengelevel4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_challengelevel4"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".challengelevel6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_challengelevel6"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".challengelevel7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_challengelevel7"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".challengelevel8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_challengelevel8"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".challengelevel9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_challengelevel9"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>